body{
  margin: 0;
  padding: 0;
  background: url("./images/background.png") no-repeat 100%/cover;
  width: 100%;
  /*overflow: hidden;*/
}

a:visited{
  color: #000000;
}

/*************************** HEADER ******************************************/

.title{

  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  padding-top: 20px;
  font-size: 3rem;
  color: #00ff00;
  text-shadow: 4px 4px 6px #000000;
}

.temperature{
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  margin-bottom: 5px;
}

.temperature a{
  padding: 0 118px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.temperature button{
  background: #e0e0e0;
  border: solid 4px #000000;
}

.lumiere{
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  margin-bottom: 5px;
}

.lumiere a{
  padding: 0 128px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.lumiere button{
  background: #e0e0e0;
  border: solid 4px #000000;
}

.tdb{
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  margin-bottom: 5px;
}

.tdb a{
  padding: 0 106px;
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}

.tdb button{
  background: #ffff99;
  border: dotted 4px #00ff00;
}

/********************************** FIELDSET & FORM *****************************/

fieldset{
  background: #fdeeee;
  opacity: 0.8;
  border: solid 2px #808080;
  height: 480px;
}

legend{
  font-size: 1.5rem;
  font-weight: bold;
  color: #229b22;
}

legend span{
  font-size: 0.9rem;
}


table td{
  padding: 10px;
  margin: 2px 0;
  padding-right: 4px;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}

.temperatureP, .lumiereTable p{
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px 30px 0 0;
  border-spacing:10px;
  width: 41.9%;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.temperatureP{
    background: #229b22;
}

.lumiereTable p{
  background: #ff0000;
}

.temperatureTable, .lumiereTable table{
  margin-top: 0;
  padding: 0;
  width: inherit;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 30px 30px;
  border-spacing: 15px;
}

.temperatureTable{
  background: #90ee90;
}

.lumiereTable table{
  background: #ffcccc;
}

.capteurTemp img{
  height: 100px;
}

.capteurLum img{
  height: 100px;
}

.capteurLum{
  border-right: none !important;
}

.capteurTemp{
  border-right: none !important;
}

.lumiereTable td{
  border-right: 4px dotted #000000;
}

.temperatureTable td{
  border-right: 4px dotted #000000;
  text-align: center;
}

/***************************** SLIDER ********************************/

.secondRow{
  width: 250px;
  padding: 10px 32px;
}

progress {
  /* ici les styles généraux */
  -webkit-appearance: none;
  width: 250px;
}

progress::before{
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  position: absolute;
  width:inherit;
  text-align: center;
  font-weight: bold;
  color: #000000;

}

progress::-webkit-progress-value{
  background: #ff0000;
}

/***************************** FOOTER ******************************************/

.logo img{
  width: 150px;
  padding: 0;
  margin: 0;
  border: dotted 2px #000000;
}

.logo{
  width: inherit;
  float: right;
  position: relative;
  left: 13px;
  top: -41px;

}
