body{
  margin: 0;
  padding: 0;
  background: url("./images/background.png") no-repeat 50% 50%/cover;
  width: 100%;
  /*overflow: hidden;*/
}

a:visited{
  color: #000000;
}


/******************************************** HEADER *****************************/

.title{

  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  padding-top: 20px;
  font-size: 3rem;
  color: #0000ff;
  text-shadow: 4px 4px 6px #000000;
}

.temperature{
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  margin-bottom: 10px;
}

.temperature a{
  padding: 0 118px;
  text-decoration: none;
  font-weight: bold;
  color: #808080;
  background: #ffff99;
  border: dotted 4px #0000ff;
}


.lumiere{
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  margin-bottom: 10px;
}

.lumiere a{
  padding: 0 132px;
  color: #000000;
  text-decoration: none;
  background: #e0e0e0;
  border: solid 4px #000000;
}


.tdb{
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  width: 30%;
  margin-bottom: 10px;
}

.tdb a{
  padding: 0 110px;
  color: #000000;
  text-decoration: none;
  background: #e0e0e0;
  border: solid 4px #000000;
}


/********************************** FIELDSET & FORM *****************************/

fieldset{
  background: #e0e0e0;
  opacity: 0.8;
  border: solid 2px #808080;
}

legend{
  font-size: 1.5rem;
  font-weight: bold;
  color: #0000ff;
}

fieldset p{
  font-size: 1.5rem;
  color: #0000ff;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  top: 5%;
  margin-bottom: 25px;
}

table{
  width: inherit;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

table td{
  padding: 0;
  margin: 0 15px;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}

.motDePasse span{
  color: #0000ff;
}

.separation td{
  width: 100%;
  border-top: dashed 2px #000000;
  border-bottom: dashed 2px #000000;
}

.img_temp img, .img_termo img{
  height: 200px;
  width: 200px;
  border: dotted 2px #000000;
  margin: 25px 10px;
}

.min_max{
  width: 50%;
}

.valMax{
  width: 150px;
}

.envoyer{
  width: 200px;
}

.ou{
  width: inherit;
  position: relative;
  text-align: center;
}

select{
  background: #e0e0e0;
  font-weight: bold;
}
select option{
  background: #ffff00;
}


select .temp1{
  color: #ff0000;
  font-weight: bold;
}

select .temp2{
  color: #00ff00;
  font-weight: bold;
}

select .temp3{
  color: #0000ff;
  font-weight: bold;
}

.soumettre input, .reset input{
  width: 96%;
  border: solid 1px #000000;
  font-weight: bold;
}

.soumettre input{
  background: #cce0e6;
}

.reset input{
  background: #ffff99;
}

.conseil{
  font-weight: bold;
  color: #0000ff;
}

.conseil:visited{
  color: #0000ff;
}

/************************************ FOOTER ***********************************/

.logo img{
  width: 150px;
  padding: 0;
  margin: 0;
  border: dotted 2px #000000;
}

.logo{
  width: inherit;
  float: right;
  position: relative;
  left: 13px;
  top: 14px;

}
